{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5 p-4 bg-light login-form">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            {{ form_errors(registrationForm, {'attr': {'class': 'alert alert-danger'}}) }}
            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error text-danger">
                    {{ form_errors(registrationForm.email, {'attr': {'class': 'alert alert-danger'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.firstName) }}
                {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error text-danger">
                    {{ form_errors(registrationForm.firstName, {'attr': {'class': 'alert alert-danger'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error text-danger">
                    {{ form_errors(registrationForm.plainPassword, {'attr': {'class': 'alert alert-danger'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'ml-2 form-check-input'}}) }}
            </div>

            <button type="submit" class="btn btn-secondary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
