<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {# {% block title %}{% endblock %} #}
        {% block title %}{% endblock %}
        {% set title_block = block('title') %}
        {% if title_block is not empty %}
            |
        {% endif %}
        {{ main_title }}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
              integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <table>
        <tr>
            <td>{{ main_title }}</td>
            <td>{{ export_title }}</td>
            <td>{{ date('now') | date('YY-mm-dd') }}</td>
        </tr>
    </table>
</header>

{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    Made with <i style="color: red;" class="fa fa-heart"></i> by the guys and gals at <a
            style="color: #444; text-decoration: underline;" href="https://symfonycasts.com">SymfonyCasts</a>
</footer>
</body>
</html>
